.cardBackground{
    background-color: rgba(0, 40, 77, 0.959);
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5vh;
    width: 350px;
    height: 430px;
    transition: all 200ms ease-in-out;
}
.cardImage{
    border-radius: 50px;
    transition: all 300ms ease-in-out;
    filter: grayscale(1);
    width: 90%;
    margin-top: 15px;
}
.cardBackground:hover .cardImage{
    border-radius: 10px;
    filter: grayscale(0);
}

.cardBackground:hover{
    box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, rgba(255, 255, 255, 0.3) -10px 10px, rgba(255, 255, 255, 0.2) -15px 15px, rgba(255, 255, 255, 0.1) -20px 20px, rgba(255, 255, 255, 0.05) -25px 25px;
}

.cardTitle{
    font-size: 25px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 900;
    text-shadow: 0px 3px 20px rgb(35, 75, 255);
}

.cardText{
    width: 100%;
    text-align: center;
    color: rgb(185, 218, 255);
    font-size: 22px;
}
