.wrapInfo{
    color: white;
    background-color: rgb(105, 105, 105);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 20px;
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 30px 25px black;
    border-radius: 30px;
}
.Infodados img{
    border-radius: 20px;
}
