.title{
    font-size: 2    rem;
    letter-spacing: 3px;
    text-shadow: 0px 0px 20px white;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    font-weight: bold;
    margin-top: 1rem;
    width: 100%;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    gap: 30px;
    padding: 20px;
    width: 100%;
}

@media(width >= 768px){
    .title{
        font-size: 4rem;
    }
}