.title{
    font-size: 2    rem;
    letter-spacing: 3px;
    text-shadow: 0px 0px 20px white;
    text-align: center;
    color: rgba(0, 0, 0, 0);
    font-weight: bold;
    margin-top: 1rem;
    width: 100%;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 2px;
}

.wrapCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    gap: 30px;
    padding: 20px;
    width: 100%;
}

.infoBtn{
    background-color: rgb(71, 71, 158);
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 3px;
   border-bottom: 4px solid rgb(134, 134, 179);
    border-left: 4px solid rgb(134, 134, 179); 
}

.infoBtn:hover{
    background-color: rgb(85, 85, 158);
    border: none;
    border-top: 4px solid rgb(47, 47, 63);
    border-right: 4px solid rgb(47, 47, 63);
}

@media(width >= 768px){
    .title{
        font-size: 4rem;
    }
}